{% extends 'base.html.twig' %}

{% block carousel %}{% endblock %}

{% block content %}

	<h3>Nos meilleures ventes</h3>
	<p>Découvrez les articles les plus vendus.</p>
	<!-- Three columns of text below the carousel -->
	<div class="row">
		{% for product in products %}
			<div class="col-md-3">
				{% include 'product/single_product.html.twig' %}
			</div>
		{% endfor %}
	</div>
	<!-- /.row -->


	<!-- START THE FEATURETTES -->

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7">
			<h2 class="featurette-heading">Une équipe de passionnés.
				<span class="text-muted">avec des professionnels au grand savoir-faire.</span>
			</h2><br>
			<p class="lead">La qualité : 100% coton peigné, finitions soignées, fabrication française.
			Le style : des coupes contemporaines et confortables. Le choix : des modèles pour hommes, pour femmes et pour enfants déclinés en 5 couleurs.
			La personnalisation : des produits pensés pour tous types de marquages et pour une personnalisation complète. Les valeurs : formation des couturières et création d'emplois en France, une empreinte sociétale positive.
			</p>
		</div>
		<div class="col-md-5">
			<img src="{{ asset('assets/img/first.jpg') }}" class="img-fluid" alt="un savoir-faire français">
		</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7 order-md-2">
			<h2 class="featurette-heading">Venez à notre rencontre dans nos différentes
				<span class="text-muted">boutiques  en France.</span>
				<hr> 
				<ul class="text-center">
					<small><li class="list-unstyled">Bordeaux</li>
					<li class="list-unstyled">Lyon</li>
					<li class="list-unstyled">Marseille</li>
					<li class="list-unstyled">Paris</li></small>
				</ul>	
			</h2>
			<p class="lead">
			</p>
		</div>
		<div class="col-md-5 order-md-1">
			<img src="{{ asset('assets/img/second.jpg') }}" class="img-fluid" alt="une boutique ouverte toute l'année">
		</div>
	</div>

<!-- /END THE FEATURETTES -->

{% endblock %}

